<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInterfacesPostTapingCollectShuttleToMx01" />
        <binding name="BasicHttpBinding_IInterfacesPostTapingEvacuationShuttleToMx01" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wstest.groupeliebot.fr/Mx/Lima1/Mx.Broker.Lima.Endpoint/Interface/InterfacesPostTapingCollectShuttleToMx0101.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterfacesPostTapingCollectShuttleToMx01"
          contract="CollectShuttleToMx.IInterfacesPostTapingCollectShuttleToMx01"
          name="BasicHttpBinding_IInterfacesPostTapingCollectShuttleToMx01" />
      <endpoint address="http://wstest.groupeliebot.fr/Mx/Lima1/Mx.Broker.Lima.Endpoint/Interface/InterfacesPostTapingEvacuationShuttleToMx0101.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterfacesPostTapingEvacuationShuttleToMx01"
          contract="EvacuationShuttleToMx.IInterfacesPostTapingEvacuationShuttleToMx01"
          name="BasicHttpBinding_IInterfacesPostTapingEvacuationShuttleToMx01" />
    </client>
  </system.serviceModel>
</configuration>